.input {
    padding: 4px;
    font-size: .875rem;
    color: $active-color;
    border: 1px solid $active-color;
    outline: none;

    &::placeholder {
        font-size: .75rem;
        color: $active-color;
    }
}